<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	      package="cs.appandroid.activities"
	      android:versionCode="1"
	      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
    	<uses-library name="com.google.android.maps"></uses-library>  
        <activity android:label="@string/app_name" android:name="CSAppAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	    <activity android:name="cs.appandroid.activitiesgroup.AddOfferGroup"></activity>
		<activity android:name="MyMessages"></activity>
		<activity android:name="DisplayOffers"></activity>
		<activity android:name="cs.appandroid.activitiesgroup.SearchOffersGroup"></activity>
		<activity android:name="Identification"></activity>
		<activity android:name="MyProfile"></activity>
		<activity android:name="MyRoutes"></activity>
		<activity android:name="OfferView"></activity>
		<activity android:name="SendOfferMessage"></activity>
		<activity android:name="cs.appandroid.activitiesgroup.MyRoutesGroup"></activity>
		<activity android:name="cs.appandroid.activitiesgroup.MyMessagesGroup"></activity>
		<activity android:name="AddOfferSecondStep"></activity>
		<activity android:name="AddOfferSummary"></activity>
		<activity android:name="cs.appandroid.activitiesgroup.MyProfileGroup"></activity>
		<activity android:name="UserGeneralInfos"></activity>
<activity android:name="UserPreferences"></activity>
<activity android:name="UserPassword"></activity>
</application>

    <uses-sdk android:minSdkVersion="6" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />  
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>