#list1 .title { font-weight:bold; }
#list1, #list2 { width:100%; }
.title, .mytitle { cursor:pointer; border:1px solid #CCCCCC; margin-top:0.5em; padding:0.1em; }
.on  .mytitle { background-color:#C0C0C0; }
.off .mytitle { background-color:#E0E0E0; }
.content, .mycontent    { background-color:#F5F5F5; padding:0.1em; border:1px solid #C0C0C0; border-top-width:0; }
#log { position:absolute; top:0; right:1em; text-align:right; }